<div class="container">
  <div class="row">
    <div class="col-5 px-5 mx-auto">
      <h2>User info</h2>
      <%= render partial: "layouts/errors", locals: { item: @user } %>
      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <label for="user_name">Name</label>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="profile_image">Image</label>
          <%= f.file_field :profile_image, accept: "image/*", class: "form-control-file" %>
        </div>
        <div class="form-group">
          <label for="user_introduction">introduction</label>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Update User", class: "btn btn-secondary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>